{% extends "base.html.twig" %}

{% block title  %} 
    {{ jeu_en_chene.intitule }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <h1>{{ jeu_en_chene.intitule }}</h1>
                    <h2>Temps de location : {{ jeu_en_chene.getTempsLocationString() }}</h2>
                    <div class="text-primary" style="font-weight:bold; font-size:2rem;">
                        {{ jeu_en_chene.getPrixFormate() }}
                    </div>
                    <a href="#" class="btn btn-primary">Réserver</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <p>{{ jeu_en_chene.commentaire | nl2br }}</p>

        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <td>Difficulté d'observation</td>
                        <td>{{ jeu_en_chene.difficulteObservation }} / 10</td>
                    </tr>
                    <tr>
                        <td>Difficulté de raisonnement</td>
                        <td>{{ jeu_en_chene.difficulteRaisonnement }} / 10</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    {% endblock body %}

