{% extends "general/baseGeneral.html.twig" %}

{% block title  %}
    Mon profil
{% endblock title  %}

{% block body %}
    <div class="jumbotron mon-jumbotron third-nav sticky-top">
        <h1 class="text-center">Mon profil</h1>
    </div>

    {{ include('outils/_flash.html.twig') }}   

    <div class="container mt-4">
        <div class="card mb-4 border-dark" >
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0 mt-0">Modification du mot de passe</h4>
            </div>
            <div class="card-body p-3">
                <div class="container">
                    {{ form_start(form) }}

                    <div class="row mb-4">    
                        {{ form_errors(form) }}                    
                        <div class="col-md-4 col-offset-2 no-margin text-right align-self-center">
                            Mot de passe actuel :
                        </div>
                        <div class="col-md-4 no-margin align-self-center">                            
                            {{ form_errors(form.currentPassword) }}
                            {{ form_widget(form.currentPassword) }}
                        </div>
                    </div>
                        
                    <div class="row mb-4">    
                        <div class="col-md-4 col-offset-2 no-margin text-right align-self-center">
                            Nouveau mot de passe :
                        </div>
                        <div class="col-md-4 no-margin align-self-center">                            
                            {{ form_errors(form.newPassword.first) }}
                            {{ form_widget(form.newPassword.first) }}
                        </div>
                    </div>
                        
                    <div class="row mb-4">    
                        <div class="col-md-4 col-offset-2 no-margin text-right align-self-center">
                            Retapez votre nouveau mot de passe :
                        </div>
                        <div class="col-md-4 no-margin align-self-center">                            
                            {{ form_errors(form.newPassword.second) }}
                            {{ form_widget(form.newPassword.second) }}
                        </div>
                    </div>
                        
                    <div class="row mt-2">    
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success mr-2">Valider</button>
                            {{ form_widget(form.cancel) }}  
                        </div>
                    </div>            
                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>
{% endblock body %}
