{% extends "admin/general/adminGeneral.html.twig" %}

{% block title %}
    Gérer les utilisateurs
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les utilisateurs</h1>

        {{ include('outils/_flash.html.twig') }}    
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.user.new") }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
        </div>
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.user.ajouterBadgeInitial") }}" class="btn btn-warning">Ajouter les badges manquants</a>
        </div>                
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Grades </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td {% for grade in user.grades %}
                            {% set opt = user.getGrade(grade.theme.nom) %}
                            <span class="{% if not opt %} 
                                            text-danger
                                         {% elseif opt.niveau.num != grade.num %}
                                            text-danger
                                         {% endif%}">
                                {{ grade.num }}
                            </span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path("admin.user.edit", {id : user.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <a class="ml-2 text-danger" href="{{ path('admin.user.password.reset', {'id': user.id}) }}" title="Réinitialiser le mot de passe"><i class="fas fa-key"></i></a>
                            <a class="ml-2 text-warning" href="{{ path('admin.user.password.change', {'id': user.id}) }}" title="Changer le mot de passe"><i class="fas fa-key"></i></a>
                            {% if not user.estAdmin() %}
                                <form method="post" action="{{ path("admin.user.delete", {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            {% endif%}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


