{% extends "general/baseGeneral.html.twig" %}

{% block title  %}
    Mes grades
{% endblock title  %}

{% block body %}
    <div class="jumbotron mon-jumbotron third-nav sticky-top">
        <h1 class="text-center">Mes grades</h1>
    </div>

    <div class="container mt-0">
        {% for msg in app.session.flashbag.get('nouveaux_grades') %}
            <div class="alert alert-success mt-2">
                {% if not msg.title == "" %}
                    <div>
                        {{ msg.title }}
                    </div>   
                {% endif%}
                <div>
                    {{ msg.message }} <span class="fas fa-medal" aria-hidden="true"></span>                    
                </div> 
            </div>
        {% endfor %}

        <nav class="navbar navbar-expand-lg navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGrade" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarGrade">
                <ul class="navbar-nav navbar-brand">
                    <li class="nav-item">
                        <h4 class="mt-0">
                            {% if themeCourant is defined and themeCourant == "General" %}<u class="text-color-2"> {% endif %}
                                <a class="nav-link {% if themeCourant is defined and themeCourant == "General"%}active{% endif %}" href="{{ path('grade.index', {themeCourant: "General"} ) }}">Grades actuels<span class="sr-only">(current)</span></a>
                                {% if themeCourant is defined and themeCourant == "General" %}</u> {% endif %}
                        </h4>
                    </li>
                </ul>
                {% for theme in themes %}
                    <ul class="navbar-nav navbar-brand">
                        <li class="nav-item">
                            <h4 class="mt-0">
                                {% if themeCourant is defined and themeCourant == theme.getNom() %}<u class="text-color-2"> {% endif %}
                                    <a class="nav-link {% if themeCourant is defined and themeCourant == theme.getNom() %}active{% endif %}" href="{{ path('grade.index', {themeCourant: theme.nom}  ) }}">Progression en {{ theme.nom }}<span class="sr-only">(current)</span></a>
                                    {% if themeCourant is defined and themeCourant == theme.getNom() %}</u> {% endif %}
                            </h4>
                        </li>
                    </ul>           
                {% endfor %}
            </div>
        </nav>

        <div class="row mb-4">
            <table class="table table-grade">
                <thead>
                    <tr>
                        <th style="width: 3%"></th>
                        <th style="width: 20%">Grade</th>                       
                        <th style="width: 10%">Date</th>
                            {% if themeCourant == "General" %}
                            <th style="width: 67%">Réussite / Condition d'obtention</th>
                            {% else %}
                            <th style="width: 60%">Réussite / Condition d'obtention</th>
                            <th class="text-center  " style="width: 7%">Yaki ?</th>
                            {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        {% if themeCourant == "General" %}
                            <tr bgcolor="{{ grade.niveau.couleur }}">
                                <td>
                                    <span class="fas fa-medal text-success" aria-hidden="true"></span>
                                </td>
                                <td class="font-weight-bold">
                                    {{ grade.niveau.nom }} en {{ grade.niveau.theme.nom }}
                                </td>
                                <td>{{ grade.date | date("d/m/Y") }}</td>  
                                <td>{{ grade.niveau.raison }}</td>
                            </tr>
                        {% else %}
                            {% set obt = user.getObtentionGrade( grade.id ) %}
                            <tr bgcolor="{{ grade.couleur }}">
                                <td>
                                    {% if not obt is null %}
                                        <span class="fas fa-medal text-success" aria-hidden="true"></span>
                                    {% elseif not grade.disponible %}
                                        <span class="fas fa-lock" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td {% if not obt is null %}class="font-weight-bold"{% else %}class="font-italic"{% endif %}>
                                    {% if grade.nomCache and obt is null %}
                                        À deviner
                                    {% else %}
                                        {{ grade.nom }} en {{ grade.theme.nom }}
                                    {% endif%}
                                </td>
                                {% if obt is null %}                                                               
                                    <td></td>                            
                                    <td class="font-italic">{{ grade.conditionTexte }}</td>
                                {% else %} 
                                    <td class="font-weight-bold">{{ obt.date | date("d/m/Y") }}</td>                            
                                    <td class="font-weight-bold">{{ grade.raison }}</td>                            
                                {% endif%}
                                <td class="text-center pb-0 pt-0">
                                    {%  set yakis = grade.theme.getGradesActuel(grade.num) %}
                                    <h2 class="badge badge-pill badge-light mt-2 p-2 badge-yaki font-weight-bold" data-toggle="tooltip" data-placement="right"
                                    {% if yakis|length == 0 %}
                                        title="Personne n'est à ce niveau actuellement."
                                    {% else %}
                                        {% set virgule = false %}
                                        {% set nb_masque = 0 %}
                                        title="{% for yaki in yakis  %}
                                                    {% if not yaki.user.visible %}
                                                        {% set nb_masque = nb_masque + 1 %}
                                                    {% else %}    
                                                        {% if virgule %}, {% endif %} 
                                                        {{ yaki.user.username }}                                                        
                                                        {% set virgule = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if nb_masque > 0 %} 
                                                    {% if virgule %}, {% endif %} 
                                                    et {{ nb_masque }} anonyme{% if nb_masque > 1 %}s{% endif %}
                                                {% endif %}    
                                                    "                                        
                                    {% endif %}
                                        >
                                        <b>{{ yakis|length }}</b>
                                    </h2>    
                                </td>
                            </tr>    
                        {% endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock body %}
