{% extends "general/baseGeneral.html.twig" %}

{% block title  %}
    Mes grades
{% endblock title  %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes grades</h1>

        {% for msg in app.session.flashbag.get('nouveaux_grades') %}
            <div class="alert alert-success">
                <div>
                    {{ msg.title }}
                </div>            
                <div>
                    {{ msg.message }} <span class="fas fa-medal" aria-hidden="true"></span>                    
                </div>
            </div>
        {% endfor %}

        <nav class="navbar navbar-expand-lg navbar-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-brand">
                    <li class="nav-item">
                        <a class="nav-link {% if themeCourant is defined and themeCourant == "General"%}active{% endif %}" href="{{ path('grade.index', {themeCourant: "General"} ) }}">Grades actuels<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% for theme in themes %}
                    <ul class="navbar-nav navbar-brand">
                        <li class="nav-item">
                            <a class="nav-link {% if themeCourant is defined and themeCourant == theme.getNom() %}active{% endif %}" href="{{ path('grade.index', {themeCourant: theme.nom}  ) }}">Historique en {{ theme.nom }}<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>           
                {% endfor %}
            </div>
        </nav>

        <div class="row">
            <table class="table table-grade">
                <thead>
                    <tr>
                        <th style="width: 3%"></th>
                        <th style="width: 20%">Grade</th>                       
                        <th style="width: 10%">Date</th>
                        <th style="width: 67%">Réussite / Condition d'obtention</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        {% if themeCourant == "General" %}
                            <tr bgcolor="{{ grade.niveau.couleur }}">
                                <td>
                                    <span class="fas fa-medal text-success" aria-hidden="true"></span>
                                </td>
                                <td class="font-weight-bold">{{ grade.niveau.nom }} en {{ grade.niveau.theme.nom }}</td>
                                <td>{{ grade.date | date("d/m/Y") }}</td>                            
                                <td>{{ grade.niveau.raison }}</td>                            
                            </tr>
                        {% else %}
                            {% set obt = user.getObtentionGrade( grade.niveau_id ) %}
                            <tr bgcolor="{{ grade.niveau_couleur }}">
                                <td>
                                    {% if not obt is null %}
                                        <span class="fas fa-medal text-success" aria-hidden="true"></span>
                                    {% elseif not grade.niveau_disponible %}
                                        <span class="fas fa-lock" aria-hidden="true"></span>
                                    {% endif %}
                                </td>
                                <td {% if not obt is null %}class="font-weight-bold"{% else %}class="font-italic"{% endif %}>{{ grade.niveau_nom }} en {{ grade.theme_nom }}</td>
                                {% if obt is null %}                                                               
                                    <td></td>                            
                                    <td class="font-italic">{{ grade.niveau_conditionTexte }}</td>
                                {% else %} 
                                    <td>{{ obt.date | date("d/m/Y") }}</td>                            
                                    <td>{{ grade.niveau_raison }}</td>                            
                                {% endif%}
                            </tr>    
                        {% endif%}



                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock body %}
