{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les collections</h1>

        {{ include('outils/_flash.html.twig') }}             
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.chene.collectionChene.new") }}" class="btn btn-primary">Créer une nouvelle collection</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="70%">Nom</th>
                    <th width="5%">Nb Jeux</th>
                    <th width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for collectionChene in collectionChenes %}
                    <tr>
                        <td>{{ collectionChene.num }}</td>
                        <td>{{ collectionChene.nom }}</td>
                        <td>{{ collectionChene.jeuEnChenes|length }}</td>
                        <td>
                            <a href="{{ path("admin.chene.collectionChene.edit", {id : collectionChene.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.chene.collectionChene.delete", {id: collectionChene.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ collectionChene.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


