{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron">
        <div class="container">
            <h2 class="text-color-2">Que sont les Babioles ?</h2>
            <p class="ml-4 text-justify font-weight-bold">
                Les Babioles sont la monnaie permettant de louer un Jeu En Chêne. 
            </p>
            <p class="ml-4 text-justify mb-0"><b>Il s'agit tout simplement d'un élément permettant de construire un nouveau Jeu en Chêne</b> : 
                un joli bouton, un morceau de bois même petit, un objet métallique, un cadenas, une serrure, une charnière...
                Cela peut aussi être un outil à travailler le bois qui ne vous sert pas tel un vieux ciseau à bois, du papier de verre... 
            </p>
        </div>
    </div>

    <div class="container mt-2">

        <div class=" ml-4">
            <nav class="navbar navbar-expand-lg navbar-light no-margin no-padding">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBabioles" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarBabioles">
                    {% for type in types %}
                        <ul class="navbar-nav navbar-brand">
                            <li class="nav-item">
                                <h4 class="mt-0">
                                    {% if typeCourant.num == type.getNum() %}<u class="text-color-2"> {% endif %}
                                        <a class="nav-link {% if typeCourant.num == type.getNum() %}active{% endif %}" href="{{ path('babiole.index', {"numTypeBabiole": type.num}  ) }}">{{ type.nom }}<span class="sr-only">(current)</span></a>
                                        {% if typeCourant.num == type.getNum() %}</u>{% endif %}
                                </h4>    
                            </li>
                        </ul>           
                    {% endfor %}
                </div>
            </nav>
                
            <h5 class="ml-4 mb-4 text-justify">
                {{ typeCourant.description }}
            </h5>

            <div class="row">
                <table class="table table-babiole table-bordered table-striped"> 
                    <thead>
                        <tr>
                            <th style="width:100px"></th>
                            <th style="width:15%">Babiole</th> 
                            <th style="width:5%">Valeur</th>                       
                            <th style="width:30%">Description</th>
                            <th style="width:30%">Commentaires</th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td style="vertical-align:middle;" class="bg-color-1-light pt-0 pb-0" colspan="3"><h4 class=" mb-0">{{ categorie.nom }}</h4></td> 
                                <td style="vertical-align:middle;" class="bg-color-1-light pt-0 pb-0 font-weight-bold font-italic"  colspan="3"></h5>{{ categorie.description }}</h5></td> 
                            </tr>

                            {% for babiole in babioles %}
                                {% if babiole.categorieBabiole.id == categorie.id %}
                                    <tr>
                                        <td style="width:100px" class="pt-0 pb-0 pl-0 pr-0">
                                            {% if babiole.imageName %}
                                                <img class="" src="{{ vich_uploader_asset(babiole, 'imageFile') | imagine_filter("my_thumb_babiole") }}" > 
                                            {% endif%}
                                        </td>
                                        <td style="vertical-align:middle;" class="pt-0 pb-0 font-weight-bold">{{ babiole.nom }}</td>
                                        <td style="vertical-align:middle;" class="pt-0 pb-0 text-center font-weight-bold"><h4>{{ include('outils/_piece.html.twig', {valeur : babiole.valeur}) }}</h4></td>
                                        <td style="vertical-align:middle;" class="pt-0 pb-0">{{ babiole.description}}</td>                            
                                        <td style="vertical-align:middle;" class="pt-0 pb-0">{{ babiole.commentaireGourou}}</td> 
                                        <td style="vertical-align:middle;" class="pt-0 pb-0">
                                            {% if   babiole.jeuEnChenes|length == 2 %}
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Utilisé dans
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        {% for jeu in babiole.jeuEnChenes %}
{#                                                            <p class="ml-2 mt-1 mb-1">#}
                                                                <a class="dropdown-item pl-2 pt-0 pr-1 pl-0" href="{{ path("jeuEnChene.show", { slug: jeu.slug, id: jeu.id }) }}">{{ jeu.nom }}</a>
{#                                                            </p>                                                                                                                    #}
                                                        {% endfor %}
                                                    </div>

                                                </div>
                                            {% endif%}
                                        </td>
                                    </tr>
                                {% endif%}
                            {% endfor %}                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock body %}
