{% extends "chene/baseChene.html.twig" %}

{% block title  %} 
    {{ babiole.nom }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <h1>{{ babiole.nom }}</h1>
                    <div class="text-primary" style="font-weight:bold; font-size:2rem;">
                        {{ babiole.valeur() }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-4">
        <p>{{ babiole.description | nl2br }}</p>

        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <h4>Babioles utilisées dans la construction des jeux suivants :</h4>
                <ul class="list-group">
                    {% for jeuEnChene in babiole.jeuEnChenes  %}
                        <li class="list-group-item">{{ jeuEnChene.nom }}</li>  
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock body %}

