<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top second-nav ma-nav">
    <ul class="navbar-nav navbar-brand pt-0 pb-0">
        <li class="nav-item">
            <a class="nav-link {% if menuCourant is defined and menuCourant == 'Home' %}active text-jaune{% endif %}" href="{{ path('home') }}"> <span  class="fas fa-home"></span></a>
        </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <ul class="navbar-nav navbar-brand pt-0 pb-0">
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'EnigmesEnChene' %}active text-jaune{% endif %}" href="{{ path('chene.home') }}">Énigmant Chêne<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'CollectionChene' %}active text-jaune{% endif %}" href="{{ path('collectionChene.index') }}">Collections<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'JeuEnChene' %}active text-jaune{% endif %}" href="{{ path('jeuEnChene.index') }}">Jeux en Chêne<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'Babiole' %}active text-jaune{% endif %}" href="{{ path('babiole.index', { 'numTypeBabiole':"1" }) }}">Babioles<span class="sr-only">(current)</span></a>
            </li>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'Grade' %}active text-jaune{% endif %}" href="{{ path('gradeChene') }}">Grades<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <ul class="navbar-nav navbar-brand pt-0 pb-0 ml-auto">
                <li class="nav-item">
                    <a class="mr-2 nav-link {% if menuCourant is defined and menuCourant == 'Progression' %}active text-jaune{% endif %}" href="{{ path('progressionChene') }}">Ma progression<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link {% if menuCourant is defined and menuCourant == 'Reservation' %}active text-jaune{% endif %}" href="{{ path('collectionChene.index') }}">Mes locations<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>