{{ form_start(form) }}

{% if is_granted('ROLE_ADMIN') %}
<div class="row">
    <div class="col-md-3">{{ form_row(form.user) }}</div>    
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">{{ form_row(form.sujet) }}</div>
</div>

<div class="mt-4 font-weight-bolder">
    Si la conversation fait référence à l'un des éléments suivant, merci de l'indiquer
</div>
<div class="row mt-2">
{% if is_granted('ROLE_ADMIN') %}
    <div class="col-md-6">{{ form_row(form.lienReservation) }}</div>
{% endif %}
    <div class="col-md-6">{{ form_row(form.lienJeuEnChene) }}</div>    
</div>

<button class="btn btn-success mr-2">{{ button|default('Créer la conversation') }}</button>
{{ form_widget(form.cancel) }}

{{ form_widget(form) }}

{{ form_end(form) }} 