{% if lecteur == "user" %}
    {% set vu = not message.getEnCoursLecture()  %}
{% else %}
    {% set vu = not message.getEnCoursLectureGourou()  %}    
{% endif%}

<div class="col-md-8 {% if exp == "user" %}offset-md-4{% endif%}">
    <div class="card {% if vu %}border-dark{% else %}border-danger{% endif %}" style="min-width: 24rem;">
        <div class="card-header small-card-header {% if exp == "user" %}bg-light{% else %}bg-warning{% endif%}">
            <div class="d-inline">
                {% if lecteur == "admin" %}
                    {% if message.getEnCoursLectureGourou()  %}
                        <span class="fas fa-envelope-open-text text-danger mr-2"></span>
                    {% endif %}
                {% endif %}
                {% if lecteur == "user" %}
                    {% if message.getEnCoursLecture()  %}
                        <span class="fas fa-envelope-open-text text-danger mr-2"></span>
                    {% endif %}
                {% endif %}

                {% if lecteur == "admin" and exp == "admin" %}
                    <a href="{{ path("general.conversation.editMessage", { "id":message.getId() }) }}" class="text-dark no-margin no-padding mr-2">
                        <span class="fas fa-pen" aria-hidden="true"></span>
                    </a>
                {% endif%} 
                
                {% if exp == "user" %}
                    {% if message.conversation.lienReservation %}
                        {{ message.conversation.user.GradeString( "Chêne" ) }}
                    {% endif%}
                    {{ message.conversation.user.username }}
                {% else %}
                    {% if message.conversation.lienReservation %}
                        Grand Gourou en Chêne Seb
                    {% else %}
                        Grand Gourou Seb
                    {% endif%}
                {% endif%} 
            
            </div>
            <div class="d-inline float-right font-italic">
                {{ message.getDateString }}

                {% if lecteur == "admin" and exp == "admin" %}
                    {% if message.getVu()  %}
                        <span class="fas fa-eye text-success ml-2"></span>
                    {% else %}
                        <span class="fas fa-eye-slash text-danger ml-2"></span>
                    {% endif %}
                {% endif%}
                {% if lecteur == "admin" %}
                    
                    <form method="post" action="{{ path("general.conversation.supprimerMessage", {id: message.getId()}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ce message ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                            <button class="mon-btn-outline {% if exp == "admin" %}border-warning bg-warning{% else %}border-light{% endif%}  text-danger p-0">
                                <span class="fas fa-trash-alt" aria-hidden="true"></span>
                            </button>
                        </form>
                    
                {% endif%}
            </div>
        </div>
        <div class="card-body">
            <div class="anchor">
                <a id="message-{{ message.getId() }}"> </a>
                {{ message.texte|nl2br()}} 
            </div>
        </div>  
    </div>  
</div>


