{% extends "general/baseGeneral.html.twig" %}

{% block meta %}
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
{% endblock meta %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="container">
                {{ form_start(form) }}
                <div class="col-md-10 offset-md-1">
                    <div class="input-group">
                        <div class="mr-2">
                            {{ form_widget(form.user) }}
                        </div>
                        {{ form_widget(form.recherche) }}
                    </div>
                </div> 
                {{ form_end(form) }}
            </div>
        {% else %}
            {% if conversations|length == 0 %}
                <h1>Vous n'avez aucune conversation avec le grand Gourou</h1>
            {% else %}
                {% if conversations|length == 1 %}
                    <h1>Vous avez une conversation avec le grand Gourou</h1>
                {% else %}
                    <h1>Vous avez {{ conversations|length }} conversations avec le grand Gourou</h1>
                {% endif%} 
            {% endif%} 
        {% endif%}         
    </div>

    {{ include('outils/_flash.html.twig') }}   

    <div class="container mt-4 mb-4">
        <div class="col-md-10 offset-md-1">
            <a href="{{ path("general.conversation.new" ) }}" class="btn btn-secondary">Créer une nouvelle conversation</a>
        </div>

        {% for conversation in conversations  %}
            <div class="mt-4">
                <div class="col-md-10 offset-md-1">
                    {%  include 'general/conversation/_conversation.html.twig' with {'mode': 'index'} %}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock body %}
