{% extends "general/baseGeneral.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron">
        <div class="container">    
            <div>
                <div class="col-md-10 offset-md-1">
                    {% include 'general/conversation/_conversation.html.twig' with {'mode': 'show'} %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% for message in messages  %}
            <div class="row mt-4">
                {% if message.messageGourou %}
                    <div class="col-md-8">
                        <div class="card border-dark" style="max-width:36rem; min-width: 24rem;">
                            <div class="card-header bg-warning small-card-header">
                                <div class="d-inline">
                                    Grand Gourou 
                                </div>
                                <div class="d-inline float-right font-italic">
                                    {{ message.getDateString }}
                                </div>
                            </div>
                            <div class="card-body">
                                {{ message.texte }}
                            </div>
                        </div>  
                    </div>   
                {% endif%}
            </div>
            <div class="row mt-4">
                {% if message.messageGourou %}
                    <div class="col-md-8 offset-md-2">
                        <div class="card border-dark" style="min-width: 24rem;">
                            <div class="card-header bg-light small-card-header">
                                <div class="d-inline">
                                    {{ app.user.getUsername() }}  
                                </div>
                                <div class="d-inline float-right font-italic">
                                    {{ message.getDateString }}
                                </div>
                            </div>
                            <div class="card-body">
                                {{ message.texte }}
                            </div>
                        </div>  
                    </div> 
                {% endif%}
            </div>
        {% endfor %}

        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <div class="card border-dark" style="min-width: 24rem;">
                    <div class="card-body">
                        texte
                    </div>
                </div>
                <a href="{{ path("general.conversation.new" ) }}" class="btn btn-primary">Écrire</a>
            </div>    
        </div>
    </div>
{% endblock body %}

