{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les catégories de babioles</h1>

        {% for message in app.flashes('success')  %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}           
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.chene.categorieBabiole.new") }}" class="btn btn-primary">Créer une nouvelle catégorie de babiole</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Num</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for categorieBabiole in categorieBabioles %}
                    <tr>
                        <td>{{ categorieBabiole.num }}</td>
                        <td>{{ categorieBabiole.nom }}</td>
                        <td>{{ categorieBabiole.description }}</td>
                        <td>
                            <a href="{{ path("admin.chene.categorieBabiole.edit", {id : categorieBabiole.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.chene.categorieBabiole.delete", {id: categorieBabiole.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieBabiole.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


