{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les jeux en chêne</h1>

        {{ include('outils/_flash.html.twig') }}             
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.chene.jeuEnChene.new") }}" class="btn btn-primary">Créer un nouveau jeu en chêne</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th  style="width: 5%"></th>
                    <th  style="width: 55%">Nom</th>
                    <th  style="width: 5%">Dispo.</th>  
                    <th  style="width: 5%">Construit</th>                       
                    <th  style="width: 30%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for jeuEnChene in jeuxEnChene %}
                    <tr>
                        <td>[{{ jeuEnChene.collectionChene.num }}-{{ jeuEnChene.num }}]</td>
                        <td>{{ jeuEnChene.nom }}</td>
                        <td>{{ include('outils/_booleen.html.twig', {bvaleur : jeuEnChene.disponible}) }}</td>
                        <td>{{ include('outils/_booleen.html.twig', {bvaleur : jeuEnChene.construit}) }}</td>
                        <td>
                            <a href="{{ path("jeuEnChene.show", {id : jeuEnChene.id, slug : jeuEnChene.getSlug} ) }}" class="btn btn-primary">Voir</a>
                            <a href="{{ path("admin.chene.jeuEnChene.edit", {id : jeuEnChene.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.chene.jeuEnChene.delete", {id: jeuEnChene.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeuEnChene.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


