{% extends "base.html.twig" %}

{% block title %}
    Gérer les jeux en chêne 
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les jeux en chêne</h1>

        {% for message in app.flashes('success')  %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}           
        
        <div class="text-right mb-4">
            <a href="{{ path("admin_chene_jeuEnChene_new") }}" class="btn btn-primary">Créer un nouveau jeu en chêne</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for jeu_en_chene in jeux_en_chene %}
                    <tr>
                        <td>{{ jeu_en_chene.intitule }}</td>
                        <td>
                            <a href="{{ path("admin_chene_jeuEnChene_edit", {id : jeu_en_chene.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin_chene_jeuEnChene_delete", {id: jeu_en_chene.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeu_en_chene.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


