{% extends "admin/general/adminGeneral.html.twig" %}

{% block title %}
    Gérer les thèmes
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les thèmes</h1>

        {{ include('outils/_flash.html.twig') }}         
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.theme.new") }}" class="btn btn-primary">Créer un nouveau thème</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Num.</th>
                    <th>Nom</th>
                    <th>Route</th>
                    <th>Dispo.</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for theme in themes %}
                    <tr>
                        <td>{{ theme.num }}</td>
                        <td>{{ theme.nom }}</td>
                        <td>{{ theme.route }}</td>
                        <td>{{ include('outils/_booleen.html.twig', {bvaleur : theme.disponible}) }}</td>
                        <td>
                            <a href="{{ path("admin.theme.edit", {id : theme.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.theme.delete", {id: theme.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ theme.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


