{#{% cache 'jeuEnChene' ~ jeuEnChene.id  jeuEnChene.majDate.timestamp|default(2019) %}#}
<div class="card mb-4 border-dark rounded_card {% if jeuEnChene.disponible %}jeu-card-disponible{% else %}jeu-card-non-disponible{% endif %}">
    {% if jeuEnChene.imageName %}
        <img class="card-img-top rounded_card" src="{{ vich_uploader_asset(jeuEnChene, 'imageFile') | imagine_filter("my_thumb") }}" > 
    {% else %}
        <img class="card-img-top rounded_card" src="{{ asset('images/jeuEnChene/vide.jpg') | imagine_filter("my_thumb") }}" > 
    {% endif%}

    {% if jeuEnChene.disponible %}
        <img class="img-over" src="{{ asset('images/base/disponible.png') }}" > 
    {% else %}            
        <img class="img-over" src="{{ asset('images/base/non_disponible.png') }}" > 
    {% endif %}

    <div class="card-body pt-2 pb-0 d-flex flex-column">
        <h4 class="text-center">
            <a class="stretched-link" href="{{ path("jeuEnChene.show", { slug: jeuEnChene.slug, id: jeuEnChene.id }) }}">
                {{ jeuEnChene.nom }}
            </a>
        </h4>
        
        <div class="font-italic">{{ jeuEnChene.description|nl2br(false) }}</div>   
        
        <div style="margin-top: auto;">
            <hr class="mt-2 mb-2">

            <div class="font-caracteristique">
                <div class="font-weight-bold d-inline">
                    Collection : 
                </div>
                <div class="d-inline">
                    {{ jeuEnChene.collectionChene.nom }}
                </div>
            </div>
            
            <div class="font-caracteristique">
                <div class="font-weight-bold d-inline">
                    Durée de location conseillé : 
                </div>
                <div class="d-inline">
                    {{ jeuEnChene.getTempsLocationString }}
                </div>
            </div> 

            <div class="font-caracteristique">
                <div class="font-weight-bold d-inline">
                    Difficulté de réflexion :
                </div>
                <div class="d-inline">
                    {{ jeuEnChene.difficulteRaisonnement }} / 10
                </div>
            </div> 

            <div class="font-caracteristique">
                <div class="font-weight-bold d-inline">
                    Difficulté d'observation :
                </div>
                <div class="d-inline">
                    {{ jeuEnChene.difficulteObservation }} / 10
                </div>
            </div> 

            <div class="font-caracteristique">
                <div class="font-weight-bold d-inline">
                    Nombre d'étapes :
                </div>
                <div class="d-inline">
                    {{ jeuEnChene.nombreEtapes }}
                </div>
            </div>
        </div>
    </div>        
    <h4 class="card-footer text-center mt-2 mb-0">
        Prix conseillé : {{ jeuEnChene.prixFormate }}
    </h4>

</div>
{#{% endcache %}#}