{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron pt-0 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-5 pl-0">
                    {% if jeuEnChene.imageName %}
                        <img src="{{ asset( vich_uploader_asset(jeuEnChene, 'imageFile') ) }}" style="width:100%; height:auto;">                   
                    {% else %}
                        <img src="{{ asset('images/jeuEnChene/vide.jpg') }}" class="card-img-top" style="width:100%;"> 
                    {% endif%}
                    {% if jeuEnChene.disponible %}
                        <img class="img-over" src="{{ asset('images/base/disponible.png') }}" > 
                    {% else %}            
                        <img class="img-over" src="{{ asset('images/base/non_disponible.png') }}" > 
                    {% endif %}
                </div>

                <div class="col-md-7 d-flex flex-column pr-0 mb-2 mt-2">

                    <h3  class="text-right">
                        <span class="float-left text-dark" 
                              href="{{ path("collectionChene.show", { slug: jeuEnChene.collectionChene.getSlug(), id: jeuEnChene.collectionChene.id }) }}"> 
                            Collection <i>{{ jeuEnChene.collectionChene.nom }}</i>
                        </span> 

                        <a class="d-inline text-primary no-padding" 
                           {% if jeuPrecedent %}
                               href="{{ path("jeuEnChene.show", { slug: jeuPrecedent.slug, id: jeuPrecedent.id }) }}"
                           {% endif %}
                           >
                            <span class="mr-2 fas fa-angle-left {% if jeuPrecedent %}text-dark{% else %}invisible{% endif %}" aria-hidden="false"></span></a>{{ jeuEnChene.num }} / {{ jeuEnChene.collectionChene.jeuEnChenes.count( ) }}
                        <a class="d-inline text-primary pt-0 pr-1 pb-0 pl-0" 
                           {% if jeuSuivant %}
                               href="{{ path("jeuEnChene.show", { slug: jeuSuivant.getSlug(), id: jeuSuivant.id }) }}"
                           {% endif %}
                           >
                            <span class="fas fa-angle-right {% if jeuSuivant %}text-dark{% else %}invisible{% endif %}" aria-hidden="true"></span>
                        </a>
                    </h3>

                    <h1 class="text-color-2 font-weight-bold">
                        {{ jeuEnChene.nom }}

                        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                            {% if app.user.aReussiJeu( jeuEnChene ) %}
                                <a data-toggle="tooltip" title="Vous avez trouvé le médaillon !"  data-placement="bottom"  class="jeu-reussi d-inline float-right font-weight-bold rounded-circle bg-white pl-1 pr-1" style="border-color:{{jeuEnChene.couleur}};"><span class="fas fa-check text-success" aria-hidden="true"></span></a>                
                                {% endif %}
                            {% endif %}     
                    </h1>  

                    <div class="mt-4 text-justify">{{ jeuEnChene.description | nl2br(false) }}</div>

                    <div style="margin-top: auto;">
                        <h5 class="mb-0">
                            <u class="font-weight-bold">Location :</u>
                            <ul class="mb-0">
                                <li class="mt-1">
                                    <b>Durée conseillée :</b> 
                                    {{ jeuEnChene.getTempsLocationString() }}
                                </li>
                                <li class="mt-1">
                                    <b>Prix conseillé :</b> 
                                    {{ include('outils/_piece.html.twig', {valeur : jeuEnChene.prix}) }}
                                </li>
                            </ul>
                        </h5>

                        {% if not jeuEnChene.disponible %}
                            <a class="btn text-warning btn-secondary mt-2" data-toggle="popover" title="Location impossible" data-placement="left" data-content="Ce Jeu en Chêne est en location actuellement. Veuillez patienter un peu...">
                                Louer maintenant</span>
                            </a>
                        {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('chene.location.new', { slug: jeuEnChene.slug, id: jeuEnChene.id, etape:1 }) }}" class="btn btn-success mt-2">Louer maintenant</a>
                        {% else %}
                            <a href="{{ path("app_login") }}" class="btn btn-success mt-2">Se connecter pour réserver</a>
                        {% endif %}
                        <a href="{{ path("chene.home") }}#CommentCaMarche" class="btn btn-secondary mt-2 float-right">Comment on loue ?</a>
                        <a href="{{ path("chene.home") }}#JeNAiPasDeBabioles" class="btn btn-secondary mt-2 mr-2  float-right">Je n'ai pas de babiole !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ include('outils/_flash.html.twig') }}   

    <div class="container">
        {% if jeuEnChene.getCommentairesGourou %}
            <div class="row bg-color-2-light p-4">
                <div class="col-md-5">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <h4 class="text-right">Commentaire du Grand Gourou :</h4>
                    {% else %}
                        <h4 class="text-right">Commentaire du constructeur :</h4>
                    {% endif %}
                </div>
                <div class="col-md-5 font-italic text-justify">
                    « {{ jeuEnChene.getCommentairesGourou() | nl2br(false) }} »
                </div>
            </div>

        {% endif%}

        <div class="row ml-4 mr-4 mt-4">
            <div class="col-md-5 pt-2">
                <div class="">
                    <h4 class="d-inline">Caractéristiques de difficulté :</h4>
                </div>

                <div class="pl-4 pt-2">
                    <table class="table table-striped">
                        <tr>
                            <td class="font-weight-bold text-right">Niveau :</td>
                            <td class="pl-0">{{ jeuEnChene.niveauDifficulteString() }}
                                <a class="d-inline float-right" data-toggle="popover" title="Temps de jeu" data-content="Les Jeux en Chêne sont classés en trois niveaux : facile, moyen et difficile.">
                                    <span class="fas fa-search text-color-2" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold text-right">Difficulté de raisonnement :</td>
                            <td class="pl-0">{% if jeuEnChene.difficulteRaisonnement %}{{ jeuEnChene.difficulteRaisonnement }}{% else %}?{% endif %} / 10
                                <a class="d-inline float-right" data-toggle="popover" title="Difficulté de raisonnement" data-content="Cela correspond à la complexité des énigmes à décrypter. Les Jeux en Chêne sont composés d'énigmes successives. Le niveau de difficulté indiqué correspond à la difficulté de l'énigme la plus coriace du Jeu.">
                                    <span class="fas fa-search text-color-2" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td  width="40%" class="font-weight-bold text-right">Difficulté d'observation :</td>
                            <td  width="20%" class="pl-0">{% if jeuEnChene.difficulteObservation %}{{ jeuEnChene.difficulteObservation }}{% else %}?{% endif %} / 10
                                <a class="d-inline float-right" data-toggle="popover" title="Difficulté d'observation" data-content="Cela correspond à la difficulté à récupérer tous les éléments visuels éparpillés sur le Jeu en Chêne. Pour un niveau facile, tous est bien visible. Mais si un élément est bien caché (par exemple, sous le Jeu en Chêne, des pointes forment une flêche), cela augmentera ce niveau de difficulté.">
                                    <span class="fas fa-search text-color-2" aria-hidden="true"></span>
                                </a>                
                            </td>
                        </tr>
                        <tr>
                            <td  width="40%" class="font-weight-bold text-right">Nombre d'étapes :</td>
                            <td  width="20%" class="pl-0">{% if jeuEnChene.nombreEtapes %}{{ jeuEnChene.nombreEtapes }}{% else %}?{% endif %}
                                <a class="d-inline float-right" data-toggle="popover" title="Nombre d'étapes" data-content="Le nombre d'étapes correspond à peu près au nombre d'énigmes à résoudre pour retrouver le médaillon. Ce nombre est important. Il influence grandement la durée et la difficulté réelle du Jeu en Chêne. Plus il y a d'étapes, plus vous jouerez longtemps ; mais plus vous risquez de buter sur une énigme...">
                                    <span class="fas fa-search text-color-2" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>                        
                    </table>  
                </div>                
            </div>
            <div class="col-md-1"> 
            </div>
            <div class="col-md-5  pt-2">
                <h4>Babioles utilisées : </h4>
                <div class="pl-4 pt-2">
                    <table class="table ml-4 table-striped">
                        {% for babiole in jeuEnChene.babioles  %}
                            <tr><td>{{ babiole.nom }}</td></tr>
                        {% endfor %}
                        <tr><td class="font-weight-bold">et quelques autres à découvrir (surprise)...</td></tr>
                    </table>
                </div>
            </div>
        </div>

        <hr>        
        <h4><b>Avis des joueurs</b>

            {% if reservations|length == 0 %}
                : aucun n'avis n'a été donné.
            {% endif%}
        </h4>

        {% if cardNotes == 0 %}
            {% set pourcent0 = 0 %}
            {% set pourcent1 = 0 %}
            {% set pourcent2 = 0 %}
            {% set pourcent3 = 0 %}
            {% set pourcent4 = 0 %}
            {% set pourcent5 = 0 %}
        {% else %}
             {% set pourcent0 = 100 * nbNotes[0] / cardNotes %}
            {% set pourcent1 = 100 * nbNotes[1] / cardNotes %}
            {% set pourcent2 = 100 * nbNotes[2] / cardNotes %}
            {% set pourcent3 = 100 * nbNotes[3] / cardNotes %}
            {% set pourcent4 = 100 * nbNotes[4] / cardNotes %}
            {% set pourcent5 = 100 * nbNotes[5] / cardNotes %}
        {% endif %}

        {% if reservations|length != 0 %}
            <div class="row  ml-4 mr-4 mb-4">
                <div class="col-md-1">
                </div>  
                <div class="col-md-10">
                    <div class="card card-avis-general">

                        <div class="container mt-2">
                            <div class="row align-items-center">
                                <div class="col-5 text-center">
                                    <h4>NOTE MOYENNE</h4> 


                                    {% if cardNotes == 0 %}
                                        <h1>? / 5</h1>
                                    {%  else %}
                                        <h1 class="font-weight-bold">
                                            {{ moyenne[0][1]|number_format(1) }} / 5
                                        </h1>
                                    {% endif %}

                                    <h2>{%  include 'outils/_rating.html.twig' with {'valeur': moyenne[0][1]|number_format(1) } %}</h2>
                                    <h4 class="mt-4"><b>{{ cardNotes }}</b> Note{% if cardNotes > 1 %}s{% endif %} et <b>{{ reservations|length }}</b> Avis</h4>                            
                                </div>
                                <div class="col-7">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-5 text-right pr-0">
                                                {%  include 'outils/_rating.html.twig' with {'valeur': 5 } %}
                                            </div>
                                            <div class="col-6">
                                                <div class="progress progress-avis" >
                                                    <div class="progress-bar  bg-warning" role="progressbar" style="width: {{ pourcent5 }}%" aria-valuenow="{{ pourcent5 }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 pl-0">
                                                {{ nbNotes[5] }}
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-5 text-right pr-0">
                                                {%  include 'outils/_rating.html.twig' with {'valeur': 4 } %}
                                            </div>
                                            <div class="col-6">
                                                <div class="progress progress-avis" >
                                                    <div class="progress-bar  bg-warning" role="progressbar" style="width: {{ pourcent4 }}%" aria-valuenow="{{ pourcent4 }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 pl-0">
                                                {{ nbNotes[4] }}
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-5 text-right pr-0">
                                                {%  include 'outils/_rating.html.twig' with {'valeur': 3 } %}
                                            </div>
                                            <div class="col-6">
                                                <div class="progress progress-avis" >
                                                    <div class="progress-bar  bg-warning" role="progressbar" style="width: {{ pourcent3 }}%" aria-valuenow="{{ pourcent3 }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 pl-0">
                                                {{ nbNotes[3] }}
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-5 text-right pr-0">
                                                {%  include 'outils/_rating.html.twig' with {'valeur': 2 } %}
                                            </div>
                                            <div class="col-6">
                                                <div class="progress progress-avis" >

                                                    <div class="progress-bar  bg-warning" role="progressbar" style="width: {{ pourcent2 }}%" aria-valuenow="{{ pourcent2 }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 pl-0">
                                                {{ nbNotes[2] }}
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-5 text-right pr-0">
                                                {%  include 'outils/_rating.html.twig' with {'valeur': 1 } %}
                                            </div>
                                            <div class="col-6">
                                                <div class="progress progress-avis" >
                                                    <div class="progress-bar  bg-warning" role="progressbar" style="width: {{ pourcent1 }}%" aria-valuenow="{{ pourcent1 }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 pl-0">
                                                {{ nbNotes[1] }}
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-5 text-right pr-0">
                                                {%  include 'outils/_rating.html.twig' with {'valeur': 0 } %}
                                            </div>
                                            <div class="col-6">
                                                <div class="progress progress-avis" >
                                                    <div class="progress-bar  bg-warning" role="progressbar" style="width: {{ pourcent0 }}%" aria-valuenow="{{ pourcent0 }}" aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 pl-0">
                                                {{ nbNotes[0] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="col-md-1">
                    </div>
                </div>  

            </div>

            <div class="container">
                <div class="row">
                    {% for reservation in reservations %}
                        <div class="d-flex align-items-stretch col-md-6">
                            {%  include 'chene/jeuEnChene/_avis.html.twig' %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endif%}
    </div>
{% endblock body %}

