{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if jeuEnChene.imageName %}
                      <img src="{{ vich_uploader_asset(jeuEnChene, 'imageFile') }}" class="card-img-top" style="width:100%; height:500px;">                    {% else %}
                        <img src="{{ '/images/jeuEnChene/vide.jpg' }}" class="card-img-top" style="width:100%; height:230px;"> 
                    {% endif%}
                </div>
                <div class="col-md-4">
                    <h1>{{ jeuEnChene.nom }}</h1>
                    <p>{{ jeuEnChene.description | nl2br }}</p>

                    <h2>Temps de location : {{ jeuEnChene.getTempsLocationString() }}</h2>
                    <div class="text-primary" style="font-weight:bold; font-size:2rem;">
                        {{ jeuEnChene.getPrixFormate() }}
                    </div>
                    <a href="#" class="btn btn-primary">Réserver</a>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-2">
        
        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped">
                    <tr>
                        <td>Difficulté d'observation</td>
                        <td>{{ jeuEnChene.difficulteObservation }} / 10</td>
                    </tr>
                    <tr>
                        <td>Difficulté de raisonnement</td>
                        <td>{{ jeuEnChene.difficulteRaisonnement }} / 10</td>
                    </tr>
                    <tr>
                        <td>Nombre d'étapes</td>
                        <td>{{ jeuEnChene.nombreEtapes }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5">
                <h4>Babioles utilisées pour sa construction</h4>
                <ul class="list-group">
                    {% for babiole in jeuEnChene.babioles  %}
                        <li class="list-group-item">{{ babiole.nom }}</li>  
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock body %}

