<div class="body">
    <h4>
        MAIL AUTOMATIQUE : ENIGMANT CHENE
    </h4>
    <h3>
        Nouvelle location :
        <ul class="list-group">
            <li>Joueur : {{ reservation.user.getGradeString("Chêne") }} <b>{{ reservation.user.username }}</b></li>
            <li>Jeu en Chêne : <b>{{ reservation.jeu.nom }}</b></li>
            <li>date : {{ reservation.dateDemande | format_datetime('long', 'short', locale='fr') }}</li>
        </ul>
    </h3>

    <div class="ml-2 mb-4">
        <ul>
            <li class="mb-2">
                Location : 
                <a href="{{ url("chene.location.show", { id : reservation.getId(), slug : reservation.getSlug()} ) }}">cliquez ici</a>
            </li>   
            <li>Conversation : 
                <a href="{{ url("general.conversation.show", {id : reservation.conversation.id, slug : reservation.conversation.getSlug()} ) }}{{reservation.conversation.getAncreNonVu( false )}}">cliquez ici</a>
            </li>
        </ul>
    </div>
</div>