<div class="card mb-4 border-dark">
    <div class="container">
        <div class="row position-relative align-items-center">
            <div class="col-md-2 no-padding">    
                {% if reservation.jeu.imageName %}
                    <img class="card-img-top" src="{{ vich_uploader_asset(reservation.jeu, 'imageFile') | imagine_filter("my_thumb") }}" > 
                {% else %}
                    <img class="card-img-top" src="{{ 'images/jeuEnChene/vide.jpg' | imagine_filter("my_thumb") }}" > 
                {% endif%}
            </div>

            <div class="col-md-5 text-center">
                <h2 class="text-color-2">
                    {{ reservation.jeu.nom }}
                </h2>
                <div class="font-italic font-weight-bold">
                    effectuée le {{ reservation.dateDemande | format_datetime('long', 'short', locale='fr')}}
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="font-weight-bold">Statut :</div>
                <div>{{ reservation.getStatus() }}</div>
                <hr class="m-1">
                <div>{% if reservation.note != -1%}{%  include 'outils/_rating.html.twig' with {'valeur': reservation.note } %} {% else %}non noté{% endif %}</div>
                <div class="font-italic">{% if reservation.avisDonne%}Avis donné{% else %}Aucun avis{% endif %}</div>
            </div>
            <div class="col-md-1 text-center">
                <h1 class="m-0">
                    {% if reservation.getEtat > 4 %}
                        {% if reservation.reussi %}
                            <span class="fas fa-smile text-success" data-toggle="tooltip" data-placement="bottom" title="Bravo ! Vous avez le médaillon"></span>
                        {% else %}
                            <span class="fas fa-sad-cry text-danger" data-toggle="tooltip" data-placement="bottom" title="Vous n'avez pas trouvé le médaillon"></span>
                        {% endif %}
                    {% endif%}
                </h1>
            </div>
            <div class="col-md-2 text-center">
                <a href="{{ path("chene.location.show", { id : reservation.getId(), slug : reservation.getSlug()} ) }}" class="btn mon-btn chene">
                    Voir la location
                </a>
            </div>
        </div>    
    </div>
</div>
