{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron">
        <div class="container">
            <h1 class="text-center">Location du Jeu en Chêne {{ reservation.jeu.nom }}</h1>
        </div>
    </div>

    <div class="container mt-4 mb-2">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {% include "chene/reservation/_cardChamp.html.twig" %}
            
        {% if champ == "avis"%}
            <button class="btn btn-success">{{ 'Envoyer mes avis' }}</button>
        {% else %}
            <button class="btn btn-success">{{ 'Valider mes changements' }}</button>
        {% endif%}
        {{ form_widget(form.cancel) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checkbox') }}
    {{ encore_entry_script_tags('datepicker') }}
{% endblock %}