<div class="row">
    <h4 class="text-right mt-2">
        Le prix conseillé pour ce Jeu en Chêne est de {{ include('outils/_piece.html.twig', {valeur : jeu.prix}) }} Babiole{% if jeu.prix > 1%}s{% endif %}.
    </h4>
    {% if jeu.estGratuit( app.user.id ) %}
        <h4>
            GRATUIT POUR VOUS ! Le Jeu en Chêne a été construit avec l'une de vos babioles.
        </h4>
    {% endif %}
</div>   

<hr>

<div class="row">
    <div class="col-md-1 text-center mb-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.aBabiole) }}</div> 
    </div>
    <div class="col-md-11 mb-0">
        <h5 class="font-weight-bold">
            J'ai assez de babioles à donner.
        </h5>
        <div class="si_case_a_cocher alert alert-dark mb-0" id="si_case_a_cocher3" name="si_case_a_cocher3" style="display: none;">
            <b>Super !</b>
        </div>   
    </div>
</div>   

<hr>

<div class="row">
    <div class="col-md-1 text-center mb-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.aPeutEtreBabiole) }}</div> 
    </div>
    <div class="col-md-11 mb-0">
        <h5 class="font-weight-bold">
            Je ne suis pas sûr(e) de mes babioles.
        </h5>                            
        <div class="si_case_a_cocher alert alert-dark mb-0" id="si_case_a_cocher1" name="si_case_a_cocher1" style="display: none;">
            <b>Pas de soucis pour valider la location.</b> Venez avec vos babioles, nous verrons cela lors du retrait.
        </div>         
    </div>
</div>

<hr>


<div class="row"  {% if jeu.prix < 2 %}style="display: none;"{% endif%}>
    <div class="col-md-1 text-center mb-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.aPasAssezBabiole) }}</div> 
    </div>
    <div class="col-md-11 mb-0">
        <h5 class="font-weight-bold">
            Je n'ai pas assez de babiole à donner. 
        </h5>                            
        <div class="si_case_a_cocher alert alert-dark mb-0" id="si_case_a_cocher2" name="si_case_a_cocher2" style="display: none;">
            <b>Pas de soucis pour valider la location.</b>
            Une babiole peut suffire !
        </div>         
    </div>
</div>

{% if jeu.prix > 1 %}
    <hr>
{% endif%}


<div class="row">
    <div class="col-md-1 text-center mb-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.aAucuneBabiole) }}</div> 
    </div>
    <div class="col-md-11 mb-0">
        <h5 class="font-weight-bold">
            Je n'ai pas aucune babiole à donner. 
        </h5>                            
        <div class="si_case_a_cocher alert alert-dark mb-0" id="si_case_a_cocher4" name="si_case_a_cocher4" style="display: none;">
            <b>Pas de soucis pour valider la location.</b>
            Nous faisons crédit (Taux à 0%). Nous pourrons aussi vous montrer des idées de babioles lors du retrait...
        </div>         
    </div>
</div>
