{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h2>Éditer la réservation de {{ reservation.jeu.getNomEtCollection() }} par {{ reservation.user.username }}</h2>

        {{ include('admin/chene/reservation/_form.html.twig', {button: 'Éditer'}) }}       

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checkbox') }}
    {{ encore_entry_script_tags('datepicker') }}
{% endblock %}