{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les locations</h1>

        {{ include('outils/_flash.html.twig') }}           

        <table class="table table-striped">
            <thead>
                <tr>
                    <th  style="width: 15%">Joueur</th>
                    <th  style="width: 15%">Jeu</th>
                    <th  style="width: 3%">R.</th>
                    <th  style="width: 20%">Demande</th>
                    <th  style="width: 16%">État</th>
                    <th  style="width: 15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.user.username }}</td>
                        <td>{{ reservation.jeu.nom }}</td>
                        <td class="text-center">{{ include('outils/_booleen.html.twig', {bvaleur : reservation.reussi}) }}</td>
                        <td>{{ reservation.dateDemande | format_datetime('full', 'short', locale='fr')}}</td>
                        <td>{{ reservation.etatStringLong()}}</td>
                        <td>
                            <a href="{{ path("chene.location.show",{   id : reservation.getId(), slug : reservation.getSlug()} ) }}" class="btn btn-primary mr-4">Voir</a>
                            <a href="{{ path("admin.chene.reservation.edit", {id : reservation.id} ) }}" class="btn btn-secondary"><span class="fas fa-pen" aria-hidden="true"></span></a>
                            <form method="post" action="{{ path("admin.chene.reservation.delete", {id: reservation.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                                <button class="btn btn-danger"><span class="fas fa-trash-alt" aria-hidden="true"></span></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


