{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('info') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('primary') %}
    <div class="alert alert-primary">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('secondary') %}
    <div class="alert alert-secondary">
        {{ message }}
    </div>
{% endfor %}