<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Énigmant{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">  
        {% block stylesheets %}
            <link rel="stylesheet" href="/enigmant/public/build/app.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top ma-nav pb-1 nav-bar-haut">
            <a class="navbar-brand ma-navbar-brand pb-0" href="{{ path('home') }}">

                <div>
                    {% if themeCourant == "Chêne" %}
                        <u class='font-weight-bold'>
                            <span style="color:blue;">É</span><span style="color:SteelBlue;">n</span><span style="color:purple;">i</span><span style="color:black;">g</span><span style="color:red;">m</span><span style="color:SandyBrown;">a</span><span style="color:yellow;">n</span><span style="color:green;">t</span>
                        </u>
                    {% else %}   
                        Énigmant
                    {% endif %} 

                    {% if themeCourant == "General" %}
                        ? 
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path("admin.home" ) }}" class="btn btn-warning ml-4">Administration</a>
                        {% endif %}           
                    {% endif %}  

                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav abs-center-x">
                    <li class="nav-item">
                        {% if app.user %}
                            {{ include('_grade.html.twig') }}
                        {% endif%}
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if app.user %}
                            <a class="btn pt-2 pb-0 " data-toggle="tooltip" data-placement="bottom"
                               {% if nbMessageNonLus == 0 %}
                                   title="Voir mes messages" 
                                   href="{{ path("general.conversation.index") }}" 
                               {% else %}
                                   {% if nbMessageNonLus == 1 %}
                                       title="{{ nbMessageNonLus }} message non lu" 
                                       href="{{ path("general.conversation.show", {id : messageNonLu.conversation.id, slug : messageNonLu.conversation.getSlug()} ) }}{{messageNonLu.conversation.getAncreNonVu( is_granted('ROLE_ADMIN') )}}"
                                   {% else %}
                                       title="{{ nbMessageNonLus }} messages non lus"  
                                       href="{{ path("general.conversation.index") }}"
                                   {% endif%}    
                               {% endif%}

                               title="{{ nbMessageNonLus }} messages non lus" 
                               >
                                {% if nbMessageNonLus  %}
                                    <span class="fas fa-envelope-open-text" aria-hidden="true"></span>
                                {% else %}
                                    <span class="fas fa-envelope" aria-hidden="true"></span>    
                                {% endif%}
                            </a>    
                            <a href="{{ path("login") }}" class="pb-0 btn" data-toggle="tooltip" data-placement="bottom" title="Mon profil">
                                <span class="fas fa-user" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('logout') }}" class="pb-0 nav-link btn" style="display: inline-block" data-toggle="tooltip" data-placement="bottom" title="Se déconnecter">
                                <span class="fas fa-sign-in-alt" aria-hidden="true" alt="Se déconnecter"></span> 
                            </a>
                        {% else %}
                            <a href="{{ path('login') }}" class="pb-0 nav-link">
                                Se connecter
                            </a>
                        {% endif%}
                    </li>
                </ul>
            </div>
        </nav>
        {% block theme %}{% endblock theme %}

        {% block body %}{% endblock %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom  pt-0 pb-0">

            <ul class="navbar-nav navbar-brand  pt-0 pb-0">
                <li class="nav-item mr-2">
                    Version 0.1
                </li>
            </ul>
        </nav>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script> 

        {#<script>
            $('select').select2();
        </script>#}
        {% block javascripts %}
            <script src="/enigmant/public/build/app.js"></script>
            <script src="/enigmant/public/build/runtime.js"></script>
            <script src="/enigmant/public/build/vendors~app.js"></script>

            <script src="public/build/app.js"></script>
            <script src="public/build/runtime.js"></script>
            <script src="public/build/vendors~app.js"></script>

            {#          {{ encore_entry_script_tags('app') }}       #}
        {% endblock %}
    </body>
</html>
