<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Énigmant{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ '/images/favicon.png' }}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">  
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top ma-nav">
            <a class="navbar-brand ma-navbar-brand" href="{{ path('home.index') }}">
                Énigmant...
                {% if not themeCourant is defined %}
                    ?
                {% endif %}
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav abs-center-x">
                    <li class="nav-item">
                        {% if app.user %}

                            <a href="{{ path("login") }}" class="btn btn-outline-success ma-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                    Administrateur {{ app.user.getUsername() }}
                                {% else %}
                                    {% if themeCourant is defined %} Grade en {{themeCourant}} {{ app.user.getUsername() }} {% endif %}
                                    {{ app.user.getUsername() }}
                                {% endif %}
                                <span class="fas fa-medal" aria-hidden="true"></span>
                            </a>

                        {% endif%}
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if app.user %}
                            <a href="{{ path("login") }}" class="btn">
                                <span class="fas fa-envelope-open-text" aria-hidden="true"></span> {#envelope#}
                            </a>    
                            <a href="{{ path("login") }}" class="btn">
                                <span class="fas fa-user" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('logout') }}" class="nav-link btn" style="display: inline-block" >
                                <span class="fas fa-sign-in-alt" aria-hidden="true"  alt="Se déconnecter"></span> 
                            </a>
                        {% else %}
                            <a href="{{ path('login') }}" class="nav-link">
                                Se connecter
                            </a>
                        {% endif%}
                    </li>
                </ul>
            </div>

        </nav>
        {% block theme %}{% endblock theme %}

        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script> 

        {{ encore_entry_script_tags('app') }}
        {#<script>
            $('select').select2();
        </script>#}
        {% block javascripts %}{% endblock %}
    </body>
</html>
