{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les types de babioles</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}           
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.chene.typeBabiole.new") }}" class="btn btn-primary">Créer un nouveau type de babiole</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Num.</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for typeBabiole in typeBabioles %}
                    <tr>
                        <td>{{ typeBabiole.num }}</td>
                        <td>{{ typeBabiole.nom }}</td>
                        <td>{{ typeBabiole.description }}</td>
                        <td>
                            <a href="{{ path("admin.chene.typeBabiole.edit", {id : typeBabiole.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.chene.typeBabiole.delete", {id: typeBabiole.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeBabiole.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


