{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les babioles</h1>

        {% for message in app.flashes('success')  %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}           
        
        <div class="text-right mb-4">
            <a href="{{ path("admin.chene.babiole.new") }}" class="btn btn-primary">Créer une nouvelle babiole</a>
        </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Valeur</th>
                    <th>Type</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for babiole in babioles %}
                    <tr>
                        <td>{{ babiole.nom }}</td>
                        <td>{{ babiole.valeur }}</td>
                        <td>{% if babiole.typeBabiole %}{{ babiole.typeBabiole.nom }}{% endif %}</td>
                        <td>{% if babiole.categorieBabiole %}{{ babiole.categorieBabiole.nom }}{% endif %}</td>
                        <td>
                            <a href="{{ path("admin.chene.babiole.edit", {id : babiole.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.chene.babiole.delete", {id: babiole.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ babiole.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


