{% extends "admin/general/adminGeneral.html.twig" %}

{% block title %}
    Gérer les grades
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les grades</h1>

        {{ include('outils/_flash.html.twig') }}          



        {{ form_start(form) }}
        <div class="form-row">
            <div class="col-md-3 no-margin">
                <div class="input-group">
                    {{ form_widget(form.user) }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="no-margin">
                    {{ form_widget(form.recherche) }}
                </div>
            </div>
            <div class="col-md-6  text-right mb-4">
                <a href="{{ path("admin.obtentionNiveau.new") }}" class="btn btn-primary">Donner un nouveau grade</a>
            </div>
        </div> 
        {{ form_end(form) }}


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Joueur</th>
                    <th>Grade</th>
                    <th>Date</th>
                    <th>Vu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obtentionNiveau in obtentionNiveaux %}
                    <tr>
                        <td>{{ obtentionNiveau.user.username }}</td>
                        <td>[{{ obtentionNiveau.niveau.theme.num ~ "-" ~ obtentionNiveau.niveau.num }}] {{ obtentionNiveau.niveau.getGrade() }}</td>
                        <td>{{ obtentionNiveau.date | date("d/m/Y") }}</td>                        
                        <td>{{ include('outils/_booleen.html.twig', {bvaleur : obtentionNiveau.vu}) }}</td>
                        <td>
                            <a href="{{ path("admin.obtentionNiveau.edit", {id : obtentionNiveau.id} ) }}" class="btn btn-secondary">Éditer</a>
                            <form method="post" action="{{ path("admin.obtentionNiveau.delete", {id: obtentionNiveau.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ obtentionNiveau.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                            <a href="{{ path("admin.obtentionNiveau.setPlusHaut", {id : obtentionNiveau.user.id, t : obtentionNiveau.niveau.theme.nom, num : obtentionNiveau.niveau.num} ) }}" class="btn btn-secondary">Set plus haut</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock body %}


