<div class="card mb-4 border-dark actualite-card ml-2 mr-2">
    {% if actualite.imageName %}
        <img class="card-img-top rounded_card" src="{{ vich_uploader_asset(actualite, 'imageFile') | imagine_filter("my_thumb") }}" > 
    {% else %}
        <img class="card-img-top rounded_card" src="{{ 'images/actualite/vide.jpg' | imagine_filter("my_thumb") }}" > 
    {% endif%}

    <div class="card-body pt-2 pb-2">
        <div class="text-right font-italic font-petit mt-0 mb-0">
            {{ actualite.getDateString }}
        </div>
        
        <h3 class="text-center">
            {{ actualite.titre }}
        </h3>

        <div class="font-italic text-justify">{{ actualite.texte|nl2br(false) }}</div>   

    </div> 

    {% if actualite.collectionChene %}
        <h4 class="text-center mt-2 mb-2">
            <a class="btn mon-btn-outline" href="{{ path("collectionChene.show", { slug: actualite.collectionChene.slug, id: actualite.collectionChene.id }) }}">
                Découvrir la collection <b>{{ actualite.collectionChene.nom }}</b>
            </a>
        </h4>
    {% endif%}
    
    {% if actualite.jeuEnChene %}
        <h4 class="text-center mt-2 mb-2">
            <a class="btn mon-btn-outline" href="{{ path("jeuEnChene.show", { slug: actualite.jeuEnChene.slug, id: actualite.jeuEnChene.id }) }}">
                Découvrir <b>{{ actualite.jeuEnChene.nom }}</b>
            </a>
        </h4>
    {% endif%}
    
    {% if actualite.babiole %}
        <h4 class="text-center mt-2 mb-2">
            <a class="btn mon-btn-outline" href="{{ path("babiole.index", { numTypeBabiole: actualite.babiole.typeBabiole.num }) }}">
                Découvrir les <b>Babioles</b>
            </a>
        </h4>
    {% endif%}
</div>