{% if collectionChene.num % 2 == 0 %}
    {% set class = "collection-paire" %}
    {% set pair = true %}
{% else %}
    {% set class = "collection-impaire" %}    
    {% set pair = false %}
{% endif%}

<div class="card mb-4 border-dark collection-card">
    <div class="container">
        <div class="row position-relative">
            {% if not pair %}
                <div class="col-md-7 no-padding">    
                    {% if collectionChene.imageName %}
                        <img style="width:100%" class="img-responsive {{class}}" src="{{ vich_uploader_asset(collectionChene, 'imageFile') | imagine_filter("my_thumb_collection") }}" > 
                    {% else %}
                        <img style="width:100%" class="img-responsive {{class}}" src="{{ '/images/collectionChene/vide.jpg' | imagine_filter("my_thumb_collection") }}" > 
                    {% endif%}
                </div>
            {% endif%}        

            <div class="col-md-5 position-static text-center align-self-center mx-auto">
                <h2 class="mb-4">
                    <a class="stretched-link" href="{{ path("collectionChene.show", { slug: collectionChene.slug, id: collectionChene.id }) }}">
                        {{ collectionChene.nom }}
                    </a>
                </h2>

                <h6 class="font-italic">
                    {{ collectionChene.description|nl2br(false) }}
                </h6>         
            </div>

            {% if pair%}
                <div class="col-md-7  no-padding">    
                    {% if collectionChene.imageName %}
                        <img style="width:100%" class="img-responsive {{class}}" src="{{ vich_uploader_asset(collectionChene, 'imageFile') | imagine_filter("my_thumb_collection") }}" > 
                    {% else %}
                        <img style="width:100%" class="img-responsive {{class}}" src="{{ '/images/collectionChene/vide.jpg' | imagine_filter("my_thumb_collection") }}" > 
                    {% endif%}
                </div>
            {% endif%}
        </div>    
    </div>
</div>
